<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    {% extends "base.html" %}

    {% block content %}
    <table id="high-risk-ranges" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Number</th>
                <th>Range (CC+4/5 digits)</th>
                <th>Country</th>
                <th>Fraud type</th>
                <th>Source Organisation</th>
                <th>Source country</th>
                <th>Date added</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Number</th>
                <th>Range (CC+4/5 digits)</th>
                <th>Country</th>
                <th>Fraud type</th>
                <th>Source Organisation</th>
                <th>Source country</th>
                <th>Date added</th>
            </tr>
        </tfoot>
    </table>
    {% endblock %}
</html>